RewriteEngine On
RewriteBase /
RewriteRule ^/$ - [L]

## Error pages
ErrorDocument 404 /notfound.html
# misleading, but works until I get working blog directory indexes:
ErrorDocument 403 /notfound.html

## HTTPS Everywhere
RewriteCond %{HTTPS} off
RewriteRule "" https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
