<footer class="site-footer">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><h2 class="footer-heading">{{ site.title }}</h2></a>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a data-goatcounter-click='mail' href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a data-goatcounter-click='ext-facebook.com' href="{{ site.facebook }}">Facebook group</a></li>
        </ul>
        <p>{% include copyleft.html %}</p>
      </div>


      <div class="footer-col footer-col-2">
        {% include site-logo.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.title }}</p>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script src="/assets/placeholders.min.js"></script>
  <script data-goatcounter="https://icfb.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</footer>
