<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="{{ site.facebook }}">Facebook group</a></li>
        </ul>
        <p>{% include copyleft.html %}</p>
      </div>


      <div class="footer-col footer-col-2">
        {% include site-logo.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.title }}</p>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
