<form class="signup" action="//icfbudapest.us7.list-manage.com/subscribe/post?u=37ba0672f9dd1681b1fadde2c&id=dc66af2683" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <label class="input-field" for="mce-EMAIL">Email:
        <input type="email" value="" name="EMAIL" class="required email"
        id="mce-EMAIL" required placeholder="your.email@gmail.com">
    </label>

    <label class="input-field" for="mce-MMERGE3">Name:
        <input type="text" value="" name="MMERGE3" id="mce-MMERGE3" placeholder="Your Name">
    </label>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37ba0672f9dd1681b1fadde2c_dc66af2683" tabindex="-1" value=""></div>
    <input data-goatcounter-click="subscribe" type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button input-field">
</form>
