@use "sass:color";
@use "sass:list";
@use "theme";
@use "layout";


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: theme.$base-font-weight list.slash(theme.$base-font-size, theme.$base-line-height) theme.$base-font-family;
    color: theme.$text-color;
    background-color: theme.$background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: theme.$spacing-unit * 0.5;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: theme.$small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: theme.$spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: theme.$base-font-weight * 2;
    text-align: center;

    &.footer-heading {
        text-align: left;
        color: theme.$grey-color-dark;
    }
}



/**
 * Links
 */
a {
    color: theme.$brand-color;
    text-decoration: none;

    &:visited {
        color: color.adjust(theme.$brand-color, theme.$lightness: -15%);
    }

    &:hover {
        color: theme.$text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: theme.$grey-color;
    border-left: 4px solid theme.$grey-color-light;
    padding-left: theme.$spacing-unit * 0.5;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid theme.$grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{layout.$content-width} - (#{theme.$spacing-unit} * 2));
    max-width:         calc(#{layout.$content-width} - (#{theme.$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: theme.$spacing-unit;
    padding-left: theme.$spacing-unit;
    @extend %clearfix;

    @include layout.media-query(layout.$on-laptop) {
        max-width: -webkit-calc(#{layout.$content-width} - (#{theme.$spacing-unit}));
        max-width:         calc(#{layout.$content-width} - (#{theme.$spacing-unit}));
        padding-right: theme.$spacing-unit * 0.5;
        padding-left: theme.$spacing-unit * 0.5;
    }
}



/**
 * Clearfix
 * This is a duplicate of the one in _layout.scss because I don't know how to
 * reference a placeholder from another module, layout.%clearfix doesn't work.
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: theme.$grey-color;
        }
    }
}

/**
 * Forms
 */
form.signup {
    background-color: theme.$grey-color-light;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    font-weight: 600;

    .input-field {
        margin: 0.5%;
    }

    input {
        width: 31%;
        height: 2em;
        padding: 0.5%;
        margin: 0.5%;
        margin-left: 1px;
        font-size: 100%;
        border-radius: 6px;
        border: 0;
        text-align: center;

        &[type=submit] {
            width: 15%;
            background-color: theme.$brand-color;
            -webkit-appearance: none;
            color: #fff;
            float: right;
            margin-top: 1%;
        }
    }

    @include layout.media-query(layout.$on-laptop) {
        margin-left: 0;
        margin-right: 0;

        input {
            font-size: 100%;
            width: 30%;
        }
        .input-field {
            margin: 0;
        }
    }

    @include layout.media-query(layout.$on-palm) {
        input {
            width: 100%;
            margin-bottom: theme.$spacing-unit * 0.5;
        }
        .input-field {
            margin: theme.$spacing-unit * 0.25 0;
            padding: 0.5% 0;
            &[type=submit] {
                width: 50%;
                margin-left: 25%;
                margin-right: 25%;
                margin-bottom: 0;
                float: none;
            }
        }
    }
}
