@use "theme";

// Width of the content area
$content-width:    800px;

$on-tiny:          400px;
$on-mobile:        450px;
$on-palm:          600px;
$on-tablet:        650px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Site header
 */
.site-header {
    border-top: 5px solid theme.$brand-color;
    border-bottom: 1px solid theme.$grey-color-light;
    background-color: theme.$brand-color-light;
    min-height: 56px;
    box-shadow: 0px 0px 10px #000;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    .site-logo {
        max-height: 40px;
        vertical-align: text-bottom;
        opacity: 0.8;
    }

    &,
    &:visited {
        color: theme.$grey-color-dark;
    }
}
@include media-query($on-tablet) {
    .site-title {
        font-size: 22px;
    }
}
@include media-query($on-palm) {
    .site-title {
        text-align: center;
        line-height: 1.2;
        margin-bottom: 10px;
        .site-logo {
            margin-bottom: -20px;
            max-height: 100%;
        }
    }
}
@include media-query($on-mobile) {
    .site-title {
        font-size: 18px;
    }
}
@include media-query($on-tiny) {
    .site-title {
        font-size: 15px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: theme.$text-color;
        line-height: theme.$base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: theme.$spacing-unit * 0.5;
        background-color: theme.$background-color;
        border: 1px solid theme.$grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: theme.$grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid theme.$grey-color-light;
    background-color: theme.$brand-color-light;
    padding: theme.$spacing-unit 0;
    box-shadow: 0px 0px 10px #000;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: theme.$spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: theme.$grey-color;
    margin-left: - theme.$spacing-unit * 0.5;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: theme.$spacing-unit * 0.5;
    padding-left: theme.$spacing-unit * 0.5;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{theme.$spacing-unit} / 2));
    width:         calc(40% - (#{theme.$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(15% - (#{theme.$spacing-unit} / 2));
    width:         calc(15% - (#{theme.$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{theme.$spacing-unit} / 2));
    width:         calc(45% - (#{theme.$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{theme.$spacing-unit} / 2));
        width:         calc(50% - (#{theme.$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{theme.$spacing-unit} / 2));
        width:         calc(100% - (#{theme.$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{theme.$spacing-unit} / 2));
        width:         calc(100% - (#{theme.$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background: url('../img/bg.png') theme.$brand-color-dark repeat fixed;

    .wrapper {
        padding-top: theme.$spacing-unit;
        padding-bottom: theme.$spacing-unit;
        background-color: theme.$background-color;
        box-shadow: 0 0 10px #000;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: theme.$spacing-unit;
    }
}

.post-meta {
    font-size: theme.$small-font-size;
    color: theme.$grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: theme.$spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: theme.$spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pagination {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;

    a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;

        &.next {
            float: right;
            text-align: right;
        }
    }
}

.blog-showcase {
    background-color: theme.$brand-color-light;
    border: 0;
    border-left: 3px dashed theme.$brand-color;
    border-right: 3px dashed theme.$brand-color;
    padding: 1em 2em;
    margin-bottom: 1em;

    h1 { font-size: 1.6em; }
    h2 { font-size: 1.4em; }

    .author {
        color: theme.$grey-color;
        font-style: italic;
        text-align: right;
    }
}

.photo-attribution {
    background-color: theme.$grey-color-dark;
    font-size: 14px;
    color: theme.$grey-color-light;
    font-style: italic;
    padding-bottom: 0.5em;
    text-align: center;
    max-width: 70%;
    margin: 1rem auto;
    border: 2px solid theme.$grey-color-dark;
    @include media-query($on-mobile) {
        max-width: 100%;
    }
    img {
        margin-bottom: 0.5em;
    }
}
